@charset "UTF-8";

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}


footer {
    background-color: #1f1f1f;
    color: #ffffff;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 14px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-left p {
    margin: 0;
    font-size: 12px;
    color: #b3b3b3;
}

.footer-right a {
    margin-left: 15px;
    text-decoration: none;
    color: #b3b3b3;
    font-size: 12px;
}

.footer-right a:hover {
    color: #ffffff;
    text-decoration: underline;
}