@charset "UTF-8";

.navbar {
    background-color: #1f1f1f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
.navbar .user-info {
    display: flex;
    align-items: center;
}
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
}
.user-info:hover .dropdown-menu {
    display: block;
}

.user-info {
	color: white;
    text-decoration: none;
    margin: 0 10px;
}