@charset "UTF-8";

.navbar {
    background-color: #1f1f1f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
.navbar .user-info {
    display: flex;
    align-items: center;
}
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
}
.user-info:hover .dropdown-menu {
    display: block;
}

.user-info {
	color: white;
    text-decoration: none;
    margin: 0 10px;
}


.cart-btn {
    display: inline-block;
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 10px;
    transition: background-color 0.3s;
}

.cart-btn:hover {
    background-color: #0056b3;
}
