@charset "UTF-8";



.navbar {
    display: flex;
    justify-content: space-between; /* 왼쪽, 가운데, 오른쪽 요소 배치 */
    align-items: center; /* 수직 가운데 정렬 */
    padding: 10px 20px; /* 좌우 여백 */
    background-color: #333; /* 배경색 */
    background-color: #1f1f1f;
}

.logo {
    text-align: left;
}

nav {
    flex: 1; /* 가운데 영역 */
}

.user-info {
    text-align: right;
    color: white;
}



.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
.navbar .user-info {
    display: flex;
    align-items: center;
}
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
}



.cart-btn-icon {
background-color: transparent;
border: none;
font-size: 24px; /* 아이콘 크기 조절 */
   color: #fff;
   cursor: pointer;
   transition: color 0.3s ease;
}

.cart-btn-icon:hover {
    color: #4caf50; /* 호버 시 색상 */
}
